@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions


@using Newtonsoft.Json
@using React.Web.Mvc;
@using Sitecore.Mvc.Extensions;
@using Sitecore.Mvc.Presentation;


@model object


<div @Html.Sxa().Component("simple-component")>

    @{
        var Componentid = Guid.NewGuid();
        var gary = new { title = "Titel", text = "Hallo" };
    }
    <h1>Hoi @Componentid!</h1>
    <div>Let's show some React:</div>
    <div id="@Componentid"></div>
    <div><pre>@Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented))</pre></div>
    <div>

        <script type="text/javascript">

			var mountNode = document.getElementById("@Componentid");
			if(mountNode){ReactDOM.render(React.createElement(@ViewBag.Module, @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented))), mountNode);}

        </script>
    </div>


</div>